/* Basic Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    background-image: none;
    background-size: cover;
}

header {
    text-align: center;
    padding-top: 90px;
}

header img {
    width: 70%;
    height: auto;
}

header h1 {
    margin-top: 10px; /* Reduced margin */
    margin-bottom: 5px; /* Reduced margin */
    font-size: 2em;
}

header p {
    margin-bottom: 10px;
}

main {
    padding: 10px;
}

h2 {
    text-align: center;
    color: #c0392b;
    margin-top: 10px;
    margin-bottom: 10px; 
}

section {
    margin-bottom: 20px;
}

.form-section {
    width: 80%;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Reduced padding */
    margin: 60px auto 20px; /* Reduced margin */
}

.form-group {
    margin-bottom: 10px; /* Reduced margin */
    margin-right: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background-color: #c0392b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a93226;
}

.registration-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.registration-link:hover {
    background-color: #45a049;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

.reward {
    text-align: center;
}

.error {
    color: #c0392b;
}

.radio-buttons input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
}

footer {
    background-color: #c0392b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.return-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

.return-link:hover {
    text-decoration: underline;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    color: #c0392b;
    margin-left: 5px;
}

.navbar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}

.navbar_content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar_content li {
    margin-left: 15px;
}

.navbar_content a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navbar_content a:hover {
    color: #c0392b;
}

/*button for login as */
.radio-group input[type='radio'] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.radio-group label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.form-group {
    margin-bottom: 10px;
}

/* Profile Container */
.profile-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-container h2 {
    margin-bottom: 10px; /* Reduced margin */
    font-size: 24px;
    color: #333;
}

.profile-info p {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

.profile-info strong {
    color: #333;
}

.profile-actions {
    margin-top: 30px;
}

.profile-actions .button {
    padding: 7px 20px;
    background-color: #c0392b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.profile-actions .button:hover {
    background-color: #3050d4;
}

.profile-pic img {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%;
    margin-bottom: 10px;
}

/*logout.php*/
.logout-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.logout-actions button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout-actions button[type="submit"] {
    background-color: #c0392b;
    color: #fff;
}

.logout-actions button[type="button"] {
    background-color: #ddd;
    color: #333;
}

.logout-actions button:hover {
    background-color: #a93226;
}
